schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="knihovna">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nazevknihovny"/>
        <xs:element name="zanry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="technika">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kniha" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zanr"/>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:short" name="ISBN"/>
                          <xs:element type="xs:short" name="rok"/>
                          <xs:element type="xs:string" name="autor"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Botanika">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kniha">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zanr"/>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:short" name="ISBN"/>
                          <xs:element type="xs:short" name="rok"/>
                          <xs:element type="xs:string" name="autor"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Kucharka">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kniha">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zanr"/>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:short" name="ISBN"/>
                          <xs:element type="xs:short" name="rok"/>
                          <xs:element type="xs:string" name="autor"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="motoristika">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kniha">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zanr"/>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:short" name="ISBN"/>
                          <xs:element type="xs:short" name="rok"/>
                          <xs:element type="xs:string" name="autor"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="vzdelavaci">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kniha">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zanr"/>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:short" name="ISBN"/>
                          <xs:element type="xs:short" name="rok"/>
                          <xs:element type="xs:string" name="autor"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>